.hero {
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    height: 80vh;
    color: aliceblue;
    margin-top: 6rem;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.hero-title {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-2 img{
    border-radius: 2rem;
    /* width: 50rem;
    height: 25rem; */
}



@media (max-width: 1080px) {
  .hero-1 {
    width: 30rem;
  }
  .hero-title {
    font-size: 4rem;
    margin-top: 4rem;
  }
}


@media (max-width: 1600px) {
  .hero-2 img {
    width: 40rem;
    height: 25rem;
    /* margin-left: -2rem; */
  }
}


@media (max-width: 1440px) {
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .hero-1 {
    z-index: 1;
    text-align: center;
    background-color: #282c3498;
    margin-top: -2rem;
  }

  .hero-title {
    align-self: center;
    box-shadow: 0 1rem 2rem 0.5rem rgba(0, 6, 83, 0.719);
  }

  .hero-rating {
    align-self: center;
  }

  .hero-1 p {
    color: aliceblue;
  }
  
  .hero-2 {
    position: absolute;
    z-index: 0;
    /* background-color: aliceblue; */
  }
  
  .hero-2 img {
    width: 100%; /* Assuming you want the image to take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default image spacing */
  }
}