.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #282c34;
    color: white;
}

.nav-logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: cursive;
    color: rgb(163, 8, 93);
}

.nav-logo img{ 
    width: 80px;
    height: 80px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
}

.signup-login{
    display: flex;
    list-style: none;
    align-items: center;
    color: #000;
    background-color: #e6efff;
    border: 1px solid #282c34;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 2rem;
}
.signup-login:active{
    transform: scale(0.98);
}