footer {
  margin-top: 20rem;
  background-color: #1f1f1f;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-bottom: 10px;
  padding: 5px;
}

.footer-logo {
  margin-top: 20px;
  text-align: center;
}

.footer-logo img {
  width: 50px; /* Adjust the size as needed */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}








/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .footer-links {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
  }

  form {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .footer-links {
    flex-basis: 100%;
  }

  .footer-logo {
    margin-top: 20px;
  }

  .footer-logo img {
    width: 8rem; /* Adjust the size as needed */
    height: 8rem;
  }
}

@media (max-width: 375px) {
  form {
    flex-direction: column;
  }
}
